@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.profile_container{
    display: flex;
    align-items: center;
    background: #EFF3F8;
    box-shadow: 2px 2px 3px 0px gray;
}
.profile_container > .profile{
    flex: 0.4;
}
.profile_container > .data{
    flex: 0.6;
}
h3{
    font-family: 'Poppins', sans-serif;
}