<div class="data">
    <div class="info">
        <span class="badge bg-primary">Followers</span>
        <span class="badge bg-success">Gists</span>
        <span class="badge bg-info">Repos</span>
        <span class="badge bg-secondary">Following</span>
    </div>
    <div>
        <ul class="list-group mt-2 bg-secondary">
            <li class="list-group-item list-group-item-secondary list-group-item-action">Company</li>
            <li class="list-group-item list-group-item-success list-group-item-action">Website</li>
            <li class="list-group-item list-group-item-primary list-group-item-action">Location</li>
            <li class="list-group-item list-group-item-success list-group-item-action">Company</li>
        </ul>
    </div>
</div>
