<!-- <h2>Latest Repositories</h2> -->
<div class="row">
    <div class="col-md-5 mt-3">
        <ul class="list-group">
            <li class="list-group-item">
              <a href="#" target="_blank">Task Tracker</a>
            </li>
        </ul>
    </div>
    <div class="col-md-7 mt-3">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge bg-primary">Stars</span>
                <span class="badge bg-success">Watchers</span>
                <span class="badge bg-info">Forks</span>  
            </li>
        </ul>  
    </div>
</div>