@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.intro{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    position: fixed;
    color: white;
    margin-top: 100px;
}

