.container{
    background-color: white;
    box-shadow: 1px 2px 4px 1px gray;
    padding: 10px;
    margin-bottom: 20px;
}
.input{
    margin-left: auto;
    margin-right: auto;
    background-color: #EFF3F8;
}
.input > div > form{
    display: flex;
}
.input > div > form > input{
    margin: 5px;
}