<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-3">
       <div class="container-fluid">
          <a class="navbar-brand" href="#">Github Finder</a>
       </div>
</nav>
<div class="container mt-3">
    <div class="card card-body">
            <h2>Search Github Users</h2>
            <p>Enter a username to fetch a user profile and their repositories...</p>
            <form class="form">
                <div>
                    <input type="search" class="form-control" placeholder="Search user...">
                   </div>
                   <div>
                       <button class="btn btn-primary text-uppercase">search</button>
                </div>
            </form>
    </div>
    <app-github-profile></app-github-profile>
</div>